*{
  margin:0;
  padding:0;
  font-family: 'Oswald', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/banner3.png.jfif);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  background: rgba(9, 29, 85, 0.637);
  height: 25px;
  width: 88.01%;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
 align-items: center;
}
label.logo{
    border-style: 1px solid #fff;
    color: rgb(196, 215, 250);
    font-size: 16px;
    line-height: 40px;
    padding: 0 25px;
    font-weight: bold;
}
nav img{
  margin: 0 5px;
  width: 60px;
  height: 60px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  margin: 0 5px;  
  padding: 8px, 12px;
  position: relative;
}
.nav-links ul li a{
  color: rgb(196, 215, 250);
  text-decoration: none;
  font-size: 16px;
}
.nav-links ul li::after{
  content:'';
  width:0%;
  height:2px;
  background: rgb(196, 215, 250);
  display:block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover:after{
  width:100%;
}
.text-box{
  width: 50%;
  color: rgb(196, 215, 250);
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50,-50);
  text-align: center;
}
.text-box h1{
  font-size: 49px;
}
.text-box p1{
  margin: 0.5px 0 0.10px;
  font-size: 18px;
  color:  rgb(196, 215, 250);
}
.text-box p{ 
  font-size: 15px;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: rgb(196, 215, 250);
    border: 1px solid #fff;
    padding: 5px 25px;
    font-size: 12px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
  border; 1px solid rgb(196, 215, 250);
  background: rgb(196, 215, 250);
  transition: 1s;
}